html,body{
	height: 100%;
}

#main{
	text-align:center;
	height: 100%;
	width: 100%;
	background:url('../img/bg.jpg');
	background-size:cover;
	color:white;
	position:relative;
}

#main img{
	width: 200px;
	margin-top: 10%;
}

#main h1{
	margin:0;
}

nav{
	position:fixed;
}

#main a{
	display:block;
	position:absolute;
	color:white;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}